{% extends 'base/base.html' %}
{% load static %}

{% block content %}
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				
				    

				{% if request.user.is_authenticated %}

                     <br>
                     <br>
                     <br>
                     <h1>Hello! logged in </h1>

					 <a href="{% url 'logout' %}"> Logout</a>
				

				{% else %}
				
				<div class="col-sm-4 col-sm-offset-1">
                     				
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="" method="POST">
						   {% csrf_token %}
							<input type="text" placeholder="Username" name="user" />
							<input type="password" placeholder="password" name="pass" />

							<a href="{% url 'reset_password' %}">Forgot Password?</a>
						
							<button type="submit" class="btn btn-default">Login</button>
						</form>
						
					</div><!--/login form-->
                 </div>

				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="" method="POST">
						   {% csrf_token %}
							<input type="text" placeholder="Name" name="name" />
							<input type="text" placeholder="Username" name="uname" />
							<input type="email" placeholder="Email Address" name="email"/>
							<input type="password" placeholder="Password" name="pass" />
							<input type="password" placeholder="Confirm Password" name="confirm_pass" />
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>


				{% endif %}



				
		
			</div>
		</div>
	</section><!--/form-->
	
	{% endblock content %}